<div class="container">
    <div class="row">
        <div class="col">
            {{#with enviaValor}}
                Valor: {{valor}}
            {{/with}}
        </div>
    </div>
</div>